@model LoginVM

<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-4 offset-4">
                <div class="mb-3">
                    <label for="email" class="form-label">Username or Email</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="text" class="form-control" id="Password">
                </div>
                <div class="mb-3">
                    <button class="btn btn-warning w-100">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>