@model OrderVM

@{
    decimal total = 0;
}
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Billing Details</h4>
            <form method="post">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p>Address<span>*</span></p>
                            <input asp-for="Address" placeholder="Address" class="checkout__input__add">
                            <button type="submit" class="btn btn-warning">PLACE ORDER</button>
                            <span class="text-danger" asp-validation-for="Address"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Your Order</h4>
                            <div class="checkout__order__products">Products <span>Total</span></div>
                            <ul>
                                @foreach (BasketItem item in Model.BasketItems)
                                {
                                    total += item.Count * item.Product.Price;
                                    <li>@item.Product.Name <span>$@item.Price</span></li>
                                }
                            </ul>
                            <div class="checkout__order__total">Total <span>$@total</span></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
