@model UpdateDepartmentVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Department Table</h4>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Photo">Choose new Photo</label>
                                <input asp-for="Photo" class="form-control" placeholder="Enter your name">
                                <span class="text-danger" asp-validation-for="Photo"></span>
                            </div>
                            <div class="form-group">
                                <img width="110px" height="110px" src="~/admin/images/@Model.ImgUrl"/>
                            </div>
                            <input asp-for="ImgUrl" type="hidden" />
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Enter your name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a asp-action="index" asp-controller="department" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                               