@model List<Product> 
 
<!-- Services Start -->
<div class="container-fluid services py-5">
    <div class="container text-center py-5">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay=".3s">
            <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">Our Products</h5>
            <h1 class="display-5">Common Pest Control Products</h1>
        </div>
        <div class="row g-5">
            @if (Model.Count > 0)
            {
                @foreach (Product product in Model)
                {
                    <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay=".3s">
                        <div class="bg-light rounded p-5 services-item">
                            <div class="d-flex" style="align-items: center; justify-content: center;">
                                <div class="mb-4 rounded-circle services-inner-icon">
                                    <i class="fa fa-spider fa-3x text-primary"></i>
                                </div>
                            </div>
                            <h4>@product.Name</h4>
                            <p class="fs-5">$@product.Price</p>
                            <a asp-controller="Basket" asp-action="AddItem" asp-route-id="@product.Id" class="btn btn-primary border-0 rounded-pill px-4 py-3 add-to-cart">Add To Cart</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <h4 class="wow fadeInUp" data-wow-delay=".3s">No Products to show</h4>
            }
        </div>
    </div>
</div>
<!-- Services End -->