@model Product
<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <h5 class="card-title">@Model.Price</h5>
        </div>
        <div class="card-body">
            <a asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </div>
</div>
