@model Blog
<div class="container">
    <div class="card" style="width: 18rem;">
            <img src="~/admin/images/@Model.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
            <p class="card-text">@Model.AuthorId</p>
            </div>
            <div class="card-body">
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </div>
    </div>
</div>
