@model UpdateBlogVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">BLOG TABLE</h4>

                        <form class="forms-sample" enctype="multipart/form-data" method="post">
                            <div class="form-group">
                                <label asp-for="Photo">Choose new Photo</label>
                                <input accept="image/*" asp-for="Photo" class="form-control" placeholder="Enter your name">
                                <span class="text-danger" asp-validation-for="Photo"></span>
                            </div>
                            <div class="form-group">
                                <img width="110px" height="110px" src="~/img//@Model.ImgUrl" />
                                <input type="hidden" asp-for="ImgUrl" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input asp-for="Title" type="text" class="form-control" id="blog" placeholder="Enter">
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input asp-for="Description" type="text" class="form-control" id="blog" placeholder="Enter">
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ReplyCount">Comments</label>
                                <input asp-for="ReplyCount" type="text" class="form-control" id="blog" placeholder="Enter">
                                <span class="text-danger" asp-validation-for="ReplyCount"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TagId">Tags</label>
                                <select asp-for="TagId" asp-items="new SelectList(ViewBag.Tags,nameof(Tag.Id),nameof(Tag.Name))" class="form-control">
                                    <option selected disabled>Choose Tags</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="AuthorId">Authors</label>
                                <select asp-for="AuthorId" asp-items="new SelectList(ViewBag.Authors,nameof(Author.Id),nameof(Author.Name))" class="form-control">
                                    <option selected disabled>Choose Authors</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a asp-action="index" asp-controller="blog" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>