@model UpdateBlogVM

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Blog</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title">Blog Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReplyCount">CommentCount</label>
                    <input asp-for="ReplyCount" class="form-control" placeholder="ReplyCount">
                    <span asp-validation-for="ReplyCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select asp-for="AuthorId" class="form-control">
                        <option selected disabled>Choose Author</option>
                        @foreach (Author author in Model.Author)
                        {
                            <option value="@author.Id">@author.Name</option>
                        }
                    </select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TagId">Tags</label>
                    <select asp-for="TagId" asp-items="new SelectList(Model.Tag, nameof(Tag.Id), nameof(Tag.Name))" class="form-control">
                    </select>
                    <span asp-validation-for="TagId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <img src="~/img/@Model.ImgUrl" class="form-control w-50">
                    <input asp-for="ImgUrl" type="hidden" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Photo">Photo</label>
                    <input asp-for="Photo" class="form-control" placeholder="Photo">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a class="btn btn-light" asp-action="Index" asp-controller="Blog">Cancel</a>
            </form>
        </div>
    </div>
</div>
